{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Tableau de bord</title>
</head>
<body>
<h1>Tableau de bord</h1>

<div class="btn-right">
    <a href="{% url 'add_site' %}">Ajouter un site</a>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>URL</th>
            <th>Nom d'utilisateur</th>
            <th>Mot de passe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.name }}</td>
                <td>{{ site.url }}</td>
                <td>{{ site.username }}</td>
                <td>{{ site.password }}</td>
                <td><a href="{% url 'delete_site' site.id %}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>